// base import
@use "./base/reset";
@use "./base/base" as *;

// common import
@use "./common/footer";
@use "./common/header";

@use "./common/buttons";
@use "./common/notfound";

// vendors import

// test SCSS bellow
body {
  background-color: rgb(194, 48, 118);

  @include mq("xl") {
    background-color: rgb(195, 206, 198);
  }
}

header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2rem;
  font-size: 1.5rem;
}
